<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A brief description of the page for SEO">
    <title>Insurance Service</title>
	<!-- TODO: css 경로 수정할 것 -->
    <link rel="stylesheet" href="/style/style.css"> <!-- CSS 파일 연결 -->
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- 파비콘 -->
</head>
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" br-mode="off" saccades-color="" fixation-strength="2" saccades-interval="1" class="bodyClass" cz-shortcut-listen="true" style="--fixation-edge-opacity: 80%; --br-line-height: 1; --br-boldness: 600;">
	<div class="headerBg wrapper">
		<header data-aos="fade-up" data-aos-once="true">
			<div class="headerText">
				<h1>
					Why We Need Insurance Recommend Servie?
				</h1>
			</div>
			<div class="imageContainer">
			</div>
		</header>
	</div>
    <main>
		<section class="problemSuggestion" id="problem">
			<div class="firstRow wrapper">
				<div class="problemOne" data-aos="fade-right" data-aos-once="true">
					<p class="problemText">THIS Is Problem One<br>
					Many Peple Think Insurance Is Too Expensive<br>
				 BUT That Is Not True.</p>	
				</div>
				<div class="problemTwo" data-aos="fade-left" data-aos-once="true">
					<p class="problemText">
						This Is Problem Two
					</p>
				</div>
			</div>	
			<div class="secondRow wrapper">
				<div class="problemThree" data-aos="fade-right" data-aos-once="true">
					<p class="problemText">
						This Is Problem Three
					</p>
				</div>
				<div class="problemFour" data-aos="fade-left" data-aos-once="true">
					<p class="problemText">
						This Is Problem Four
					</p>
				</div>
			</div>	
		</section>
		<section class="problemSolving">
			<div class="problemSolvingText wrapper" data-aos="fade-up" data-aos-once="true">
				<h1>
					So We Think, We Have To Solve This Problem
				</h1>
				<br><br>
				<button type="button" onclick="location.href='/main'" class="problemButton" data-aos="fade-up" data-aos-once="true">
					Try For Free!
				</button>
			</div>
		</section>
    </main>
    <footer>
    </footer>
    <script>
		AOS.init();
	</script> <!-- JS 파일 연결 -->
</body>
</html>
